body {
    background-image: url("background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
	font-family: sans-serif;
	margin: 2em;
	margin-left: 12em;
	margin-right: 12em;
	padding-top: 1em;
	padding-bottom: 1em;
}
h1{
	color: white;
}
table, tr, td {
    text-align: left;
    padding-right: 2em;
}
canvas{
	border:5px solid #000000;
}